{% extends "layout.html" %} {% block title %} Central Trips {% endblock %} {%
block main %}
<section class="central-trip">
  <div class="container-fluid first-col-center">
    <div class="col-12 text-center">
      <h2><strong>Dazaifu Tenmangu</strong></h2>
      <p>
        <strong>Begin Your Japan Journey Blessed</strong>
      </p>
    </div>
  </div>
  <div class="row sec-col-center">
    <div class="col-sm-1 d-none d-sm-block"></div>
    <div class="col-1">
      <p class="day-n"><strong>DAY 1</strong></p>
    </div>
    <div class="col-sm-9 col-11">
      <p>
        <span style="color: #0077b6" class="logo">O</span
        ><span style="color: #6b8e23" class="logo">U</span
        ><span style="color: #ffa726" class="logo">S</span> central trip kicks
        off with a captivating journey to Dazaifu on day one.
        <span class="mol-hid"
          >Immerse yourself in the rich history and spiritual significance of
          this ancient city.</span
        >
        Subsequent days will involve exploring various destinations depending on
        the specific itinerary chosen.
        <span class="mol-hid"
          >We offer a variety of options to cater to different interests.</span
        >
      </p>
    </div>
    <div class="col-sm-1 d-none d-sm-block"></div>
  </div>
  <!-------------------------- BEPPU -------------------------->
  <div class="row third-col-center">
    <div class="col-sm-1 d-none d-sm-block"></div>
    <div class="col-sm-10 col-12 beppu-center">
      <div class="row beppu-center-intro">
        <div class="col-sm-10 d-none d-sm-block">
          <img
            src="https://i.ibb.co/V3HXHm1/red-beppu.png"
            alt="red hot spring"
          />
        </div>
        <div class="col-sm-2 col-12">
          <h3 style="color: #ffa726"><strong>Beppu</strong></h3>
          <p class="d-none d-sm-block" style="opacity: 0.4">
            Steaming Springs Meet Tranquility
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center mt-3">
          <p>Things to Do in <strong style="color: #ffa726">Beppu</strong></p>
          <button
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseBeppu"
            aria-expanded="false"
            aria-controls="collapseBeppu"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-chevron-down"
              style="color: #ffa726"
            >
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </button>
        </div>
      </div>
      <div class="row mt-5 collapse" id="collapseBeppu">
        <div class="row first-collapseBeppu">
          <div class="col-1">
            <p class="day-n"><strong>DAY 2</strong></p>
          </div>
          <div class="col-sm-5 col-11 pt-sm-3">
            <h4><strong style="color: #ffa726">Yufuin</strong></h4>
            <p>
              <span class="mol-hid"
                >After a rejuvenating stay in Beppu, immerse yourself in the
                charming atmosphere of
                <strong style="color: #ffa726">Yufuin</strong>.</span
              >
              This picturesque town offers a delightful escape with its iconic
              <strong style="color: #ffa726">Yunotsubo Street</strong>, perfect
              for shopping and dining. Capture the beauty of
              <strong style="color: #ffa726">Kinrin Lake</strong> and explore
              the countless photo opportunities Yufuin has to offer.
            </p>
          </div>
          <div class="col-sm-6 d-none d-sm-block mb-5">
            <img
              style="height: 100%"
              src="https://i.ibb.co/Hhz97XF/yufuin.png"
              alt="yufuin"
            />
          </div>
        </div>
        <div class="row mt-sm-5 sec-collapseBeppu">
          <div class="col-1 mt-3">
            <p class="day-n"><strong>DAY 3</strong></p>
          </div>
          <div class="col-sm-3 col-11 mt-3">
            <h4><strong style="color: #ffa726">Beppu Ropeway</strong></h4>
            <p>
              <span class="mol-hid"
                >Unwind in Beppu: From Sky-High Views to Serene Hot
                Springs</span
              >
              Experience the thrill of ascending 1,375 meters aboard the
              <strong style="color: #ffa726">Beppu Ropeway</strong>, where
              panoramic vistas await. Afterward, rejuvenate your senses at
              <strong style="color: #ffa726">Ichinoide Kaikan</strong>, a
              renowned hot spring facility offering unparalleled relaxation.
              <span class="mol-hid"
                >This perfect blend of adventure and tranquility will leave you
                feeling refreshed and renewed.</span
              >
            </p>
          </div>
          <div class="col-sm-2 d-none d-sm-block mb-5">
            <img
              style="height: 485px"
              src="https://i.ibb.co/thFZsDt/1375m.png"
              alt="height indicator"
            />
          </div>
          <div class="col-1 mt-3">
            <p class="day-n"><strong>DAY 4</strong></p>
          </div>
          <div class="col-sm-5 col-11 mt-3">
            <h4>
              <strong style="color: #ffa726"
                >Chinoike Jigoku & Beach Sand Bath</strong
              >
            </h4>
            <p>
              <span class="mol-hid"
                >On your second day, discover the unique allure of Beppu. Begin
                with a visit to</span
              >
              <strong style="color: #ffa726">Chinoike Jigoku</strong>, a
              captivating volcanic landscape renowned for its vibrant hot spring
              waters and unique culinary experiences. Afterward, unwind with a
              rejuvenating
              <strong style="color: #ffa726">black sand bath</strong> on Beppu's
              pristine beach, where warm grains gently cradle your body while
              offering stunning coastal views.
            </p>
            <img
              class="mb-4 mb-sm-5"
              style="height: 175px"
              src="https://i.ibb.co/zfYXk2M/egg-onzen.png"
              alt="egg onsen"
            />
          </div>
        </div>
        <div class="row mt-sm-5 mt-3 third-collapseBeppu">
          <div class="col-1">
            <p class="day-n"><strong>DAY 5</strong></p>
          </div>
          <div class="col-sm-2 col-3">
            <img
              style="height: 125px"
              src="https://i.ibb.co/LxpnP9c/tonkatsu.png"
              alt="tonkatsu"
            />
          </div>
          <div class="col-sm-5 col-8 mb-sm-3">
            <h4><strong style="color: #ffa726">Fukuoka</strong></h4>
            <p>
              Before your journey ends,
              <span style="color: #0077b6" class="logo">O</span
              ><span style="color: #6b8e23" class="logo">U</span
              ><span style="color: #ffa726" class="logo">S</span> invites you to
              savor the
              <strong style="color: #ffa726">finest Tonkatsu Fukuoka</strong>
              has to offer.<span class="mol-hid">
                A delightful culinary treat awaits as a token of our
                appreciation.</span
              >
            </p>
          </div>
          <div class="col-sm-2 col-6 text-end">
            <h5>
              <strong style="color: #ffa726; font-size: 14px"
                >Discover Beppu</strong
              >
            </h5>
            <p class="mt-sm-2">$1,599.00</p>
            {% if session["user_id"] %}
            <button
              class="purchase mt-sm-3"
              data-bs-toggle="modal"
              data-bs-target="#beppu_booking"
            >
              <strong>Begin Your Journey</strong>
            </button>
            {% else %}
            <button class="purchase mt-sm-3">
              <a href="/login"><strong>Begin our Journey</strong></a>
            </button>
            {% endif %}
          </div>
          <div class="col-sm-2 col-6 text-center">
            <h5>
              <strong style="color: #ffa726; font-size: 14px">Plus</strong>
            </h5>
            <p class="mt-sm-2">+ $349.00</p>
            <button
              class="mt-sm-3 mb-4"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#plusBeppu"
              aria-expanded="false"
              aria-controls="plusBeppu"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-chevron-down"
                style="color: #ffa726"
              >
                <polyline points="6 9 12 15 18 9"></polyline>
              </svg>
            </button>
          </div>
        </div>
        <div class="row mt-sm-5 mt-4 collapse" id="plusBeppu">
          <div class="col-1">
            <p class="day-n"><strong>DAY 6</strong></p>
          </div>
          <div class="col-11">
            <img
              src="https://i.ibb.co/7KsnZkb/miyajidake.png"
              alt="miyajidake shrine"
            />
            <p class="mt-4">
              <span class="mol-hid">
                Extend your journey with an enchanting visit to
                <strong style="color: #ffa726">Fukutsu</strong>. </span
              >This coastal paradise boasts stunning scenery, including the
              breathtaking vistas from
              <strong style="color: #ffa726">Miyajidake Shrine</strong>.<span
                class="mol-hid"
              >
                Indulge in delectable cuisine while exploring the city's
                charming atmosphere.</span
              >
              <span style="color: #0077b6" class="logo">O</span
              ><span style="color: #6b8e23" class="logo">U</span
              ><span style="color: #ffa726" class="logo">S</span> recommends
              <strong style="color: #ffa726">Fukutsu</strong> as a must-visit
              destination for a truly unforgettable experience.
            </p>
            <div class="row">
              <div class="col-sm-8 col-1"></div>
              <div class="col-sm-2 col-6">
                <p><strong>Total:</strong> $1,948.00</p>
              </div>
              <div class="col-sm-2 col-5 text-center">
                {% if session["user_id"] %}
                <button
                  class="purchase"
                  data-bs-toggle="modal"
                  data-bs-target="#beppu_plus_booking"
                >
                  <strong>Extend <span class="mol-hid">Your</span> Trip</strong>
                </button>
                {% else %}
                <button class="purchase">
                  <a href="/login"
                    ><strong
                      >Extend <span class="mol-hid">Your</span> Trip</strong
                    ></a
                  >
                </button>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-1 d-none d-sm-block"></div>
    </div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="beppu_booking"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="mt-2"><strong>Your selection</strong></h6>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row my-4">
            <div class="col-4 text-end">
              <small class="mb-sm-4"
                ><span class="mol-hid">You </span>selected</small
              >
              <h5 class="pt-sm-4 pt-4"><strong>Price</strong></h5>
            </div>
            <div class="col-8 text-center">
              <h3 class="mb-sm-3 mb-3">
                <strong style="color: #ffa726">Beppu</strong>
              </h3>
              <p class="pt-sm-0 pt-1">
                <strong>US<span style="font-size: 26px">$1,599</span></strong>
              </p>
            </div>
          </div>
          <form action="/reserve" method="post">
            <div class="row">
              <div class="col-12">
                <button type="submit" name="id" value="1001">
                  <strong>I'll reserve</strong>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- endModal -->

  <!-- Modal Plus -->
  <div
    class="modal fade"
    id="beppu_plus_booking"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="mt-2"><strong>Your selection</strong></h6>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row my-4">
            <div class="col-4 text-end">
              <small class="mb-sm-4"
                ><span class="mol-hid">You </span>selected</small
              >
              <h5 class="pt-sm-4 pt-4"><strong>Price</strong></h5>
            </div>
            <div class="col-8 text-center">
              <h3 class="mb-sm-3 mb-3">
                <strong style="color: #ffa726"
                  >Beppu <span style="color: #d4af37">+</span></strong
                >
              </h3>
              <p class="pt-sm-0 pt-1">
                <strong>US<span style="font-size: 26px">$1,948</span></strong>
              </p>
            </div>
          </div>
          <form action="/reserve" method="post">
            <div class="row">
              <div class="col-12">
                <button type="submit" name="id" value="349">
                  <strong>I'll reserve</strong>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- endModal -->

  <!-------------------------- NAGASAKI -------------------------->
  <div class="row mt-sm-5 mt-4 mb-sm-5 mb-3 fourth-col-center">
    <div class="col-sm-1 d-none d-sm-block"></div>
    <div class="col-sm-10 col-12 nagasaki-center">
      <div class="row nagasaki-center-intro">
        <div class="col-sm-2 col-12 text-sm-start text-end">
          <h3 style="color: #0077b6"><strong>Nagasaki</strong></h3>
          <p class="d-none d-sm-block" style="opacity: 0.4">
            A Symphony of Water and History
          </p>
        </div>
        <div class="col-sm-10 d-none d-sm-block">
          <img
            src="https://i.ibb.co/cQxMdcP/nagasaki-bridge.png"
            alt="glasses bridge"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center mt-3">
          <p><strong style="color: #0077b6">Nagasaki</strong> Highlights</p>
          <button
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseNagasaki"
            aria-expanded="false"
            aria-controls="collapseNagasaki"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-chevron-down"
              style="color: #0077b6"
            >
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </button>
        </div>
      </div>
      <div class="row mt-5 collapse" id="collapseNagasaki">
        <div class="row first-collapseNagasaki">
          <div class="col-1">
            <p class="day-n"><strong>DAY 2</strong></p>
          </div>
          <div class="col-sm-3 col-5">
            <img src="https://i.ibb.co/qBYtLqY/yutoku.png" alt="Yutoku" />
          </div>
          <div class="col-sm-3 d-none d-sm-block">
            <img
              style="height: 125px"
              src="https://i.ibb.co/HtPb3t2/kashima.png"
              alt="kashima"
            />
          </div>
          <div class="col-sm-5 col-6">
            <h4><strong style="color: #0077b6">Kashima</strong></h4>
            <p>
              Your journey begins at the revered Dazaifu Tenmangu Shrine,
              offering a spiritual experience akin to the renowned
              <strong style="color: #0077b6">Yutoku Inari Shrine</strong>.
            </p>
          </div>
        </div>
        <div class="row sec-collapseNagasaki mt-4 mt-sm-5">
          <div class="col-1">
            <p class="day-n"><strong>DAY 3</strong></p>
          </div>
          <div class="col-sm-5 col-11">
            <h4>
              <strong style="color: #0077b6"
                >Nagasaki Atomic Bomb
                <span class="mol-hid">Museum</span></strong
              >
            </h4>
            <p>
              Commence your day with a poignant visit to the
              <strong style="color: #0077b6">Nagasaki Atomic Bomb Museum</strong
              >, a solemn reflection on history and the enduring spirit of the
              city.
              <span class="mol-hid"
                >Immerse yourself in the stories of resilience and understand
                the profound significance of water in Nagasaki's journey. </span
              >Conclude the day with a delightful culinary experience, savoring
              the renowned Nagasaki champon noodles at the iconic
              <strong style="color: #0077b6">Nagasakijunten</strong>
              restaurant.
            </p>
          </div>
          <div class="col-1 mt-2 mt-sm-0">
            <p class="day-n"><strong>DAY 4</strong></p>
          </div>
          <div class="col-sm-5 col-11 mt-2 mt-sm-0 mb-sm-3 mb-2">
            <h4>
              <strong style="color: #0077b6">Mt. Nabekanmuri Park</strong>
            </h4>
            <p>
              Your second day in Nagasaki promises an unforgettable experience.
              <span class="mol-hid"
                >Discover the enchanting
                <strong style="color: #0077b6">Megane Bridge</strong> and savor
                the city's renowned buns in
                <strong style="color: #0077b6">Shinchi Chinatown</strong>.</span
              >
              Immerse yourself in history at the
              <strong style="color: #0077b6"
                >Former Hong Kong & Shanghai Bank Nagasaki Branch Museum</strong
              >
              and <strong style="color: #0077b6">Oura Cathedral</strong>, where
              you can also indulge in the finest castella. Crown your day with
              breathtaking vistas from
              <strong style="color: #0077b6">Mt. Nabekanmuri Park</strong>.
            </p>
          </div>
        </div>
        <div class="row sec-one-collapseNagasaki">
          <div class="col-sm-12">
            <img
              src="https://i.ibb.co/ZMHGkTq/nagasaki-view.png"
              alt="Nagasaki view"
            />
          </div>
        </div>
        <div class="row mt-sm-4 mt-4 third-collapseNagasaki">
          <div class="col-1">
            <p class="day-n"><strong>DAY 5</strong></p>
          </div>
          <div class="col-sm-1 col-11 mt-sm-0">
            <img src="https://i.ibb.co/t3C16ZJ/sea-food.png" alt="sea food" />
          </div>
          <div class="col-1 d-sm-none"></div>
          <div class="col-sm-6 col-11 mt-3 mt-sm-0">
            <h4><strong style="color: #0077b6">Fukuoka</strong></h4>
            <p>
              Savor a farewell feast of
              <strong style="color: #0077b6">fresh seafood</strong>, carefully
              curated by <span style="color: #0077b6" class="logo">O</span
              ><span style="color: #6b8e23" class="logo">U</span
              ><span style="color: #ffa726" class="logo">S</span>.
              <span class="mol-hid"
                >Enjoy a complimentary culinary experience before your
                departure, with the freedom to explore additional dining
                options.</span
              >
            </p>
          </div>
          <div class="col-sm-2 col-6 text-end">
            <h5>
              <strong style="color: #0077b6; font-size: 14px"
                >Embrace Nagasaki<span class="mol-hid">'s Soul</span></strong
              >
            </h5>
            <p class="mt-sm-2">$1,299.00</p>
            {% if session["user_id"] %}
            <button
              class="purchase mt-sm-3"
              data-bs-toggle="modal"
              data-bs-target="#nagasaki_booking"
            >
              <strong>Begin Your Journey</strong>
            </button>
            {% else %}
            <button class="purchase mt-sm-3">
              <a href="/login"><strong>Begin our Journey</strong></a>
            </button>
            {% endif %}
          </div>
          <div class="col-sm-2 col-6 text-center">
            <h5>
              <strong style="color: #0077b6; font-size: 14px">Plus</strong>
            </h5>
            <p class="mt-sm-2">+ $149.00</p>
            <button
              class="mt-sm-3 mb-4"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#plusNagasaki"
              aria-expanded="false"
              aria-controls="plusNagasaki"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-chevron-down"
                style="color: #0077b6"
              >
                <polyline points="6 9 12 15 18 9"></polyline>
              </svg>
            </button>
          </div>
        </div>
        <div class="row mt-sm-5 mt-4 collapse" id="plusNagasaki">
          <div class="col-1">
            <p class="day-n"><strong>DAY 5</strong></p>
          </div>
          <div class="col-11">
            <img
              src="https://i.ibb.co/dmLqMKm/arita-akasaka.png"
              alt="earthenware"
            />
            <p class="mt-4">
              Before concluding your Kyushu adventure, immerse yourself in the
              rich history and artistry of
              <strong style="color: #0077b6">Arita</strong>, renowned for its
              exquisite porcelain. Marvel at the vibrant colors and intricate
              designs of its world-famous
              <strong style="color: #0077b6">pottery</strong>.<span
                class="mol-hid"
              >
                Explore the town's heritage and uncover the secrets behind its
                centuries-old craftsmanship.</span
              >
            </p>
            <div class="row">
              <div class="col-sm-8 col-1"></div>
              <div class="col-sm-2 col-6">
                <p><strong>Total:</strong> $1,448.00</p>
              </div>
              <div class="col-sm-2 col-5 text-center">
                {% if session["user_id"] %}
                <button
                  class="purchase"
                  data-bs-toggle="modal"
                  data-bs-target="#nagasaki_plus_booking"
                >
                  <strong>Extend <span class="mol-hid">Your</span> Trip</strong>
                </button>
                {% else %}
                <button class="purchase">
                  <a href="/login"
                    ><strong
                      >Extend <span class="mol-hid">Your</span> Trip</strong
                    ></a
                  >
                </button>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-1 d-none d-sm-block"></div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="nagasaki_booking"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="mt-2"><strong>Your selection</strong></h6>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row my-4">
            <div class="col-4 text-end">
              <small class="mb-sm-4"
                ><span class="mol-hid">You </span>selected</small
              >
              <h5 class="pt-sm-4 pt-4"><strong>Price</strong></h5>
            </div>
            <div class="col-8 text-center">
              <h3 class="mb-sm-3 mb-3">
                <strong style="color: #0077b6">Nagasaki</strong>
              </h3>
              <p class="pt-sm-0 pt-1">
                <strong>US<span style="font-size: 26px">$1,299</span></strong>
              </p>
            </div>
          </div>
          <form action="/reserve" method="post">
            <div class="row">
              <div class="col-12">
                <button type="submit" name="id" value="1002">
                  <strong>I'll reserve</strong>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- endModal -->

  <!-- Modal Plus -->
  <div
    class="modal fade"
    id="nagasaki_plus_booking"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="mt-2"><strong>Your selection</strong></h6>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row my-4">
            <div class="col-4 text-end">
              <small class="mb-sm-4"
                ><span class="mol-hid">You </span>selected</small
              >
              <h5 class="pt-sm-4 pt-4"><strong>Price</strong></h5>
            </div>
            <div class="col-8 text-center">
              <h3 class="mb-sm-3 mb-3">
                <strong style="color: #0077b6"
                  >Nagasaki <span style="color: #d4af37">+</span></strong
                >
              </h3>
              <p class="pt-sm-0 pt-1">
                <strong>US<span style="font-size: 26px">$1,448</span></strong>
              </p>
            </div>
          </div>
          <form action="/reserve" method="post">
            <div class="row">
              <div class="col-12">
                <button type="submit" name="id" value="149">
                  <strong>I'll reserve</strong>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- endModal -->

  <div class="col-12 text-center my-4 end-central">
    <h6 style="opacity: 0.6">
      <strong
        >We appreciate your visit! Please don't hesitate to contact
        <span style="color: #0077b6" class="logo">O</span
        ><span style="color: #6b8e23" class="logo">U</span
        ><span style="color: #ffa726" class="logo">S</span> if you have any
        questions.</strong
      >
    </h6>
  </div>
</section>
{% endblock %}
