{% extends "layout.html" %} {% block title %} Extra Trips {% endblock %} {%
block main %}
<section class="extra-trip">
  <div class="container-fluid first-col-extra">
    <div class="row">
      <div class="col-4">
        <div class="my-3">
          <p class="mt-1 ms-2 d-none d-sm-block">Experience the Magic:</p>
          <h3 class="mx-sm-1 top-saga" style="color: #0077b6">
            <strong>Saga</strong>
          </h3>
          <p class="mt-1 d-none d-sm-block">Balloon Festival</p>
        </div>
        <img src="https://i.ibb.co/DYQ1nqz/saga.jpg" alt="balloon saga" />
      </div>
      <div class="col-4">
        <img
          class="mb-2"
          src="https://i.ibb.co/rZsz282/yakushima.jpg"
          alt="yakushima"
        />
        <div class="my-3">
          <p class="mt-1 ms-5 d-none d-sm-block">Unveil</p>
          <h3 class="ms-sm-2 top-yakushima" style="color: #6b8e23">
            <strong>Yakushima</strong>
          </h3>
          <p class="mt-1 d-none d-sm-block">'s Natural Wonders</p>
        </div>
      </div>
      <div class="col-4">
        <div class="my-3">
          <p class="top-miyama d-none d-sm-block">Harvest Abundance in</p>
          <h3 class="ms-sm-3 top-sec-miyama" style="color: #ffa726">
            <strong>Miyama</strong>
          </h3>
        </div>
        <img src="https://i.ibb.co/Z8BBxvD/miyama.png" alt="orange" />
      </div>
    </div>
  </div>
  <!---------------------- End Opening ---------------------->

  <div class="row sec-col-extra">
    <div class="col-1"></div>
    <div class="col-10">
      <h4>
        <strong>
          <span class="mol-hid">Embark on a Tranquil Kyushu</span> Adventure
          with <span style="color: #0077b6" class="logo">O</span
          ><span style="color: #6b8e23" class="logo">U</span
          ><span style="color: #ffa726" class="logo">S</span>
        </strong>
      </h4>
      <p style="opacity: 0.6">
        <span class="mol-hid"
          >Immerse yourself in the serene beauty of Kyushu at your own pace. </span
        >Wander through charming villages, savor delectable cuisine, and breathe
        in the rich cultural heritage. Allow the tranquility of this haven to
        wash over you, and rediscover the joy of authentic travel.<span
          class="mol-hid"
        >
          <span style="color: #0077b6" class="logo">O</span
          ><span style="color: #6b8e23" class="logo">U</span
          ><span style="color: #ffa726" class="logo">S</span>: Your gateway to a
          rejuvenating Kyushu experience.</span
        >
      </p>
    </div>
    <div class="col-1"></div>
  </div>
  <!---------------------- End intro ---------------------->

  <div class="row yakushima-col-extra">
    <div class="col-12 hashtags" style="opacity: 0.4">
      <h5><strong>#Yakushima</strong></h5>
    </div>
    <div class="col-12 before-first">
      <img
        src="https://i.ibb.co/wMBhvSS/Yakushima-1.png"
        alt="yakushima tree"
      />
    </div>
    <div class="col-12 my-4 first-part">
      <h4 class="mb-3">
        <strong>
          Calling all nature enthusiasts!
          <strong style="color: #6b8e23">Yakushima</strong> awaits
        </strong>
      </h4>
      <p>
        Embrace the true essence of nature in Yakushima, a paradise of
        <strong style="color: #6b8e23"
          >towering trees, cascading waterfalls, and misty forests</strong
        >. This enchanting island served as the inspiration for Studio Ghibli's
        iconic anime film,
        <strong style="color: #6b8e23">Princess Mononoke</strong>.
        <span class="mol-hid"
          >Immerse yourself in the revitalizing embrace of
          <strong style="color: #6b8e23">Yakushima's ancient</strong> forests
          and reconnect with the wonders of the natural world. </span
        >Hikers and nature lovers, this is your ultimate destination.
      </p>
    </div>
    <div class="col-sm-4 mt-sm-2">
      <h5 class="mb-3">
        <strong
          ><span class="mol-hid">Embrace </span>the Heart of
          <strong style="color: #6b8e23">Yakushima</strong>'s Adventure</strong
        >
      </h5>
      <div class="sec-part mt-sm-3">
        <p>
          • <strong style="color: #6b8e23">Yakusugi Land</strong>:<br
            class="d-sm-none"
          />
          <small>walking routers through thick forest</small>
        </p>
        <p>
          • <strong style="color: #6b8e23">Hirauchi Kaichu Onsen</strong>:<br
            class="d-sm-none"
          />
          <small>open-air hot spring bath</small>
        </p>
      </div>
    </div>
    <div class="col-sm-3 img-sec">
      <img
        src="https://i.ibb.co/S53GZfh/yakushima-4.png"
        alt="yakushima tree"
      />
    </div>
    <div class="col-sm-3 d-none d-sm-block img-sec">
      <img
        src="https://i.ibb.co/xY7JFL7/yakushima-5.png"
        alt="yakushima tree"
      />
    </div>
    <div class="col-7 mt-4 d-sm-none">
      <p><strong>Total:</strong> US$945.00</p>
    </div>
    <div class="col-sm-2 col-5 mt-3 mt-sm-0 text-end pe-sm-4 pe-0">
      <h5 class="d-none d-sm-block">
        <strong style="color: #6b8e23; font-size: 14px"
          >Discover Yakushima</strong
        >
      </h5>
      <p class="mt-sm-4 d-none d-sm-block">US$945.00</p>
      {% if session["user_id"] %}
      <button
        class="purchase me-3 me-sm-0"
        data-bs-toggle="modal"
        data-bs-target="#yakushima_booking"
      >
        <strong>Begin <span class="mol-hid">Your </span>Journey</strong>
      </button>
      {% else %}
      <button class="purchase me-3 me-sm-0">
        <a href="/login"
          ><strong>Begin <span class="mol-hid">Your </span>Journey</strong></a
        >
      </button>
      {% endif %}
    </div>
    <hr class="mt-sm-4 mt-2" />
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="yakushima_booking"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="mt-2"><strong>Your selection</strong></h6>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row my-4">
            <div class="col-4 text-end">
              <small class="mb-sm-4"
                ><span class="mol-hid">You </span>selected</small
              >
              <h5 class="pt-sm-4 pt-4"><strong>Price</strong></h5>
            </div>
            <div class="col-8 text-center">
              <h3 class="mb-sm-3 mb-3">
                <strong style="color: #6b8e23">Yakushima</strong>
              </h3>
              <p class="pt-sm-0 pt-1">
                <strong>US<span style="font-size: 26px">$945</span></strong>
              </p>
            </div>
          </div>
          <form action="/reserve" method="post">
            <div class="row">
              <div class="col-12">
                <button type="submit" name="id" value="2001">
                  <strong>I'll reserve</strong>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- endModal -->
  <!---------------------- yakushima ---------------------->

  <div class="row mx-2 miyazaki-col-extra">
    <div class="col-12 hashtags" style="opacity: 0.4">
      <h5><strong>#Miyazaki</strong></h5>
    </div>
    <div class="col-12 before-first">
      <img src="https://i.ibb.co/f1zYC0v/miyazaki-1.png" alt="miyazaki sea" />
    </div>
    <div class="col-12 my-4 first-part">
      <h4 class="mb-3">
        <strong
          >Discover <strong style="color: #0077b6">Miyazaki</strong> City's
          serene charm.</strong
        >
      </h4>
      <p>
        <span class="mol-hid"
          >Where tranquility meets the sea. Experience the ultimate relaxation
          as you explore our coastal treasures. </span
        >Let the gentle ocean breeze and stunning scenery rejuvenate your soul.
        Visit the iconic
        <strong style="color: #0077b6">Yayoi Bridge</strong> and the mysterious
        "sea washing board." Uncover the magic of
        <strong style="color: #0077b6">Udo Jingu</strong>, a seaside
        sanctuary.<span class="mol-hid">
          <span style="color: #0077b6" class="logo">O</span
          ><span style="color: #6b8e23" class="logo">U</span
          ><span style="color: #ffa726" class="logo">S</span> invites you to
          unwind in <strong style="color: #0077b6">Miyazaki</strong>'s warm
          embrace.</span
        >
      </p>
    </div>
    <div class="col-sm-3 img-sec d-none d-sm-block">
      <img src="https://i.ibb.co/c35h740/miyazaki-2.png" alt="seaside" />
    </div>
    <div class="col-sm-2 img-sec">
      <img
        style="object-position: 10% 75%"
        src="https://i.ibb.co/S3jB4VW/miyazaki-3.png"
        alt="seaside"
      />
    </div>
    <div class="col-sm-5">
      <h5 class="mt-sm-2 mt-4">
        <strong
          >Discover <strong style="color: #0077b6">Miyazaki</strong>'s
          Magic</strong
        >
      </h5>
      <div class="sec-part mt-sm-3">
        <p>
          • <strong style="color: #0077b6">Aoshima</strong>:<br
            class="d-sm-none"
          />
          <small
            >Walk on "bridge to heaven" bask in stunning coastal views.</small
          >
        </p>
        <p>
          • <strong style="color: #0077b6">Miyazaki Beef</strong>:<br
            class="d-sm-none"
          />
          <small>Indulge in world-renowned culinary delights.</small>
        </p>
      </div>
    </div>
    <div class="col-7 mt-4 d-sm-none">
      <p><strong>Total:</strong> $899.00</p>
    </div>
    <div class="col-sm-2 col-5 mt-3 mt-sm-0 text-end pe-sm-4 pe-0">
      <h5 class="d-none d-sm-block">
        <strong style="color: #0077b6; font-size: 14px"
          >Discover Miyazaki</strong
        >
      </h5>
      <p class="mt-sm-4 d-none d-sm-block">US$899.00</p>
      {% if session["user_id"] %}
      <button
        class="purchase me-3 me-sm-0"
        data-bs-toggle="modal"
        data-bs-target="#miyazaki_booking"
      >
        <strong>Begin <span class="mol-hid">Your </span>Journey</strong>
      </button>
      {% else %}
      <button class="purchase me-3 me-sm-0">
        <a href="/login"
          ><strong>Begin <span class="mol-hid">Your </span>Journey</strong></a
        >
      </button>
      {% endif %}
    </div>
    <hr class="mt-sm-4 mt-2" />
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="miyazaki_booking"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="mt-2"><strong>Your selection</strong></h6>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row my-4">
            <div class="col-4 text-end">
              <small class="mb-sm-4"
                ><span class="mol-hid">You </span>selected</small
              >
              <h5 class="pt-sm-4 pt-4"><strong>Price</strong></h5>
            </div>
            <div class="col-8 text-center">
              <h3 class="mb-sm-3 mb-3">
                <strong style="color: #0077b6">Miyazaki</strong>
              </h3>
              <p class="pt-sm-0 pt-1">
                <strong>US<span style="font-size: 26px">$899</span></strong>
              </p>
            </div>
          </div>
          <form action="/reserve" method="post">
            <div class="row">
              <div class="col-12">
                <button type="submit" name="id" value="2002">
                  <strong>I'll reserve</strong>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- endModal -->
  <!---------------------- Miyazaki ---------------------->

  <div class="row mx-2 miyama-col-extra">
    <div class="col-12 hashtags" style="opacity: 0.4">
      <h5><strong>#Miyama</strong></h5>
    </div>
    <div class="col-12 before-first">
      <img src="https://i.ibb.co/q7JTnW2/miyama-1.png" alt="mandaran orange" />
    </div>
    <div class="col-12 my-4 first-part">
      <h4 class="mb-3">
        <strong>Immersive Farm Stay at</strong>
        <strong style="color: #ffa726">Miyama</strong>
      </h4>
      <p>
        Unleash your inner farmer with
        <span style="color: #0077b6" class="logo">O</span
        ><span style="color: #6b8e23" class="logo">U</span
        ><span style="color: #ffa726" class="logo">S</span>'s
        <strong style="color: #ffa726">Miyama</strong> mandarin orchard
        adventure. Immerse yourself in a mandarin orchard, where you'll harvest
        the sweetest
        <strong style="color: #ffa726">Mikan oranges</strong>
        straight from the tree. Taste the incomparable freshness that has locals
        raving.
        <span class="mol-hid"
          >Harvest your own
          <strong style="color: #ffa726">Mikan oranges</strong> and savor the
          unforgettable taste that's made locals fall in love.</span
        >
      </p>
    </div>
    <div class="col-sm-4">
      <h5 class="mt-3">
        <strong
          >Savor <strong style="color: #ffa726">Miyama</strong>'s sweetest
          secret</strong
        >
      </h5>
      <div class="sec-part mt-sm-4">
        <p>
          • <strong style="color: #ffa726">Yamakawamachi Tachiyama</strong>:<br
            class="d-sm-none"
          />
          <small
            >Vibrant autumn leaves and freshly harvested mandarin
            oranges.</small
          >
        </p>
      </div>
    </div>
    <div class="col-sm-3 img-sec d-none d-sm-block">
      <img
        style="object-position: 25% 30%"
        src="https://i.ibb.co/qDqjBvr/miyama-2.png"
        alt="orange"
      />
    </div>
    <div class="col-sm-3 img-sec">
      <img src="https://i.ibb.co/DgXNWHQ/miyama-3.jpg" alt="orange" />
    </div>
    <div class="col-7 mt-4 d-sm-none">
      <p><strong>Total:</strong> $999.00</p>
    </div>
    <div class="col-sm-2 col-5 mt-3 mt-sm-0 text-end pe-sm-4 pe-0">
      <h5 class="d-none d-sm-block">
        <strong style="color: #ffa726; font-size: 14px">Discover Miyama</strong>
      </h5>
      <p class="mt-sm-4 d-none d-sm-block">US$999.00</p>
      {% if session["user_id"] %}
      <button
        class="purchase me-3 me-sm-0"
        data-bs-toggle="modal"
        data-bs-target="#miyama_booking"
      >
        <strong>Begin <span class="mol-hid">Your </span>Journey</strong>
      </button>
      {% else %}
      <button class="purchase me-3 me-sm-0">
        <a href="/login"
          ><strong>Begin <span class="mol-hid">Your </span>Journey</strong></a
        >
      </button>
      {% endif %}
    </div>
    <hr class="mt-sm-4 mt-2" />
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="miyama_booking"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="mt-2"><strong>Your selection</strong></h6>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row my-4">
            <div class="col-4 text-end">
              <small class="mb-sm-4"
                ><span class="mol-hid">You </span>selected</small
              >
              <h5 class="pt-sm-4 pt-4"><strong>Price</strong></h5>
            </div>
            <div class="col-8 text-center">
              <h3 class="mb-sm-3 mb-3">
                <strong style="color: #ffa726">Miyama</strong>
              </h3>
              <p class="pt-sm-0 pt-1">
                <strong>US<span style="font-size: 26px">$999</span></strong>
              </p>
            </div>
          </div>
          <form action="/reserve" method="post">
            <div class="row">
              <div class="col-12">
                <button type="submit" name="id" value="2003">
                  <strong>I'll reserve</strong>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- endModal -->
  <!---------------------- Miyama ---------------------->

  <div class="row mx-2 karatsu-col-extra">
    <div class="col-12 hashtags" style="opacity: 0.4">
      <h5><strong>#Karatsu</strong></h5>
    </div>
    <div class="col-12 before-first">
      <img src="https://i.ibb.co/5jmDpPY/karatsu-5.jpg" alt="karatsujobaiten" />
    </div>
    <div class="col-12 my-4 first-part">
      <h4 class="mb-3">
        <strong
          >Journey Through Time in
          <strong style="color: #0077b6">Karatsu</strong>:</strong
        >
      </h4>
      <p>
        Discover the rich tapestry of
        <strong style="color: #0077b6">Karatsu</strong>'s past at the iconic
        <strong style="color: #0077b6">Karatsu Castle</strong>.<span
          class="mol-hid"
        >
          Lose yourself in the timeless beauty of landscapes unseen
          elsewhere.</span
        >
        Stroll through the city, embracing centuries-old traditions. Indulge in
        the freshest seafood at
        <strong style="color: #0077b6">Kawataro</strong> and witness
        breathtaking sunsets over the ocean.<span class="mol-hid"
          >Your journey to Karatsu is a fusion of history, culture, and culinary
          delights.</span
        >
      </p>
    </div>
    <div class="col-sm-2 img-sec">
      <img src="https://i.ibb.co/L1r31dF/karatsu-3.jpg" alt="karatsu" />
    </div>
    <div class="col-sm-3 img-sec d-none d-sm-block">
      <img
        style="object-position: 25% 30%"
        src="https://i.ibb.co/SJ9vWpD/karatsu.jpg"
        alt="karatsu castle"
      />
    </div>
    <div class="col-sm-5">
      <h5 class="mt-sm-2 mt-4">
        <strong
          >Unveil <strong style="color: #0077b6">Karatsu</strong>'s
          Enchantment</strong
        >
      </h5>
      <div class="sec-part mt-sm-3">
        <p>
          • <strong style="color: #0077b6">Karatsu</strong>:<br
            class="d-sm-none"
          />
          <small>Hikiyama floats and the majestic Karatsu Castle.</small>
        </p>
        <p>
          • <strong style="color: #0077b6">Yobuko</strong>:<br
            class="d-sm-none"
          />
          <small
            >Savor the freshest seafood delights in this coastal
            paradise.</small
          >
        </p>
      </div>
    </div>
    <div class="col-7 mt-4 d-sm-none">
      <p><strong>Total:</strong> $759.00</p>
    </div>
    <div class="col-sm-2 col-5 mt-3 mt-sm-0 text-end pe-sm-4 pe-0">
      <h5 class="d-none d-sm-block">
        <strong style="color: #0077b6; font-size: 14px"
          >Discover Karatsu</strong
        >
      </h5>
      <p class="mt-sm-4 d-none d-sm-block">US$759.00</p>
      {% if session["user_id"] %}
      <button
        class="purchase me-3 me-sm-0"
        data-bs-toggle="modal"
        data-bs-target="#karatsu_booking"
      >
        <strong>Begin <span class="mol-hid">Your </span>Journey</strong>
      </button>
      {% else %}
      <button class="purchase me-3 me-sm-0">
        <a href="/login"
          ><strong>Begin <span class="mol-hid">Your </span>Journey</strong></a
        >
      </button>
      {% endif %}
    </div>
    <hr class="mt-sm-4 mt-2" />
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="karatsu_booking"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="mt-2"><strong>Your selection</strong></h6>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row my-4">
            <div class="col-4 text-end">
              <small class="mb-sm-4"
                ><span class="mol-hid">You </span>selected</small
              >
              <h5 class="pt-sm-4 pt-4"><strong>Price</strong></h5>
            </div>
            <div class="col-8 text-center">
              <h3 class="mb-sm-3 mb-3">
                <strong style="color: #0077b6">Karatsu</strong>
              </h3>
              <p class="pt-sm-0 pt-1">
                <strong>US<span style="font-size: 26px">$759</span></strong>
              </p>
            </div>
          </div>
          <form action="/reserve" method="post">
            <div class="row">
              <div class="col-12">
                <button type="submit" name="id" value="2004">
                  <strong>I'll reserve</strong>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- endModal -->
  <!---------------------- karatsu ---------------------->

  <div class="row mx-2 saga-col-extra">
    <div class="col-12 hashtags" style="opacity: 0.4">
      <h5><strong>#Saga</strong></h5>
    </div>
    <div class="col-12 before-first">
      <img src="https://i.ibb.co/JFWHnw5/saga-1.png" alt="balloon" />
    </div>
    <div class="col-12 my-4 first-part">
      <h4 class="mb-3">
        <strong
          >Soar Above the Ordinary at the
          <strong style="color: #ffa726">Saga</strong> Balloon Festival
        </strong>
      </h4>
      <p>
        Join <span style="color: #0077b6" class="logo">O</span
        ><span style="color: #6b8e23" class="logo">U</span
        ><span style="color: #ffa726" class="logo">S</span> for an unforgettable
        adventure at Japan's most beloved hot air
        <strong style="color: #ffa726">balloon festival</strong>.
        <span class="mol-hid"
          >Immerse yourself in a world of color and wonder as hundreds of
          dazzling balloons fill the sky. From breathtaking aerial views to
          exciting ground activities, there's something for everyone. </span
        >Savor delicious treats, soak up the festive atmosphere, and create
        memories that will last a lifetime.
      </p>
    </div>
    <div class="col-sm-4">
      <h5 class="mt-3">
        <strong
          >Experience the Thrill of the
          <strong style="color: #ffa726">Saga</strong> Festival</strong
        >
      </h5>
      <div class="sec-part mt-sm-4">
        <p>
          • <strong style="color: #ffa726">Relax and Enjoy</strong>:<br
            class="d-sm-none"
          />
          <small>Unwind amidst the festive atmosphere.</small>
        </p>
        <p>
          • <strong style="color: #ffa726">Nighttime Spectacle</strong>:<br
            class="d-sm-none"
          />
          <small>Illuminated balloons.</small>
        </p>
      </div>
    </div>
    <div class="col-sm-3 img-sec d-none d-sm-block">
      <img src="https://i.ibb.co/JFfYT6H/saga-2.png" alt="saga" />
    </div>
    <div class="col-sm-3 img-sec">
      <img
        style="object-position: 50% 60%"
        src="https://i.ibb.co/HN80w9Y/saga-3.png"
        alt="balloon"
      />
    </div>
    <div class="col-7 mt-4 d-sm-none">
      <p><strong>Total:</strong> $699.00</p>
    </div>
    <div class="col-sm-2 col-5 mt-3 mt-sm-0 text-end pe-sm-4 pe-0">
      <h5 class="d-none d-sm-block">
        <strong style="color: #ffa726; font-size: 14px">Discover Saga</strong>
      </h5>
      <p class="mt-sm-4 d-none d-sm-block">US$699.00</p>
      {% if session["user_id"] %}
      <button
        class="purchase me-3 me-sm-0"
        data-bs-toggle="modal"
        data-bs-target="#saga_booking"
      >
        <strong>Begin <span class="mol-hid">Your </span>Journey</strong>
      </button>
      {% else %}
      <button class="purchase me-3 me-sm-0">
        <a href="/login"
          ><strong>Begin <span class="mol-hid">Your </span>Journey</strong></a
        >
      </button>
      {% endif %}
    </div>
    <hr class="mt-sm-4 mt-2" />
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="saga_booking"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="mt-2"><strong>Your selection</strong></h6>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row my-4">
            <div class="col-4 text-end">
              <small class="mb-sm-4"
                ><span class="mol-hid">You </span>selected</small
              >
              <h5 class="pt-sm-4 pt-4"><strong>Price</strong></h5>
            </div>
            <div class="col-8 text-center">
              <h3 class="mb-sm-3 mb-3">
                <strong style="color: #ffa726">Saga</strong>
              </h3>
              <p class="pt-sm-0 pt-1">
                <strong>US<span style="font-size: 26px">$699</span></strong>
              </p>
            </div>
          </div>
          <form action="/reserve" method="post">
            <div class="row">
              <div class="col-12">
                <button type="submit" name="id" value="2005">
                  <strong>I'll reserve</strong>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- endModal -->
  <!---------------------- Saga ---------------------->

  <div class="col-12 text-center my-4">
    <h6 style="opacity: 0.6">
      <strong
        >Have a wonderful trip with
        <span style="color: #0077b6" class="logo">O</span
        ><span style="color: #6b8e23" class="logo">U</span
        ><span style="color: #ffa726" class="logo">S</span>!</strong
      >
    </h6>
  </div>
</section>
{% endblock %}
